

trigger:
- main

pool:
  name: agentinfraset

steps:
- task: TerraformTask@5
  displayName: terraform init
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/Roor/Dev'
    backendServiceArm: 'gauravssris'
    backendAzureRmStorageAccountName: 'storagegauravssris'
    backendAzureRmContainerName: 'storagecontainer38'
    backendAzureRmKey: 'backup.tfstate'