trigger:
- main

pool:
  name: Automated   # agar self-hosted agent hai

steps:
- task: TerraformTask@5
  displayName: terraform init
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/Root/Dev'
    backendServiceArm: 'infraautomation'
    backendAzureRmStorageAccountName: 'storagegauravssris'
    backendAzureRmContainerName: 'gauravbackuptfstate'
    backendAzureRmKey: 'backup.tfstate'
