

trigger:
- main

pool:
  name: agentinfraset
steps:
- 
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    backendServiceArm: 'gauravssris'
    backendAzureRmStorageAccountName: 'storagegauravssris'
    backendAzureRmContainerName: 'storagecontainer38'
    backendAzureRmKey: 'backup.tfstate'