trigger:
- main

pool:
  name: Automated   # Self-hosted agent pool

stages:

- stage: Dev
  displayName: "Terraform Dev Stage"

  jobs:
  - job: TerraformInit
    displayName: "Terraform Init Job"

    steps:
    - task: TerraformTask@5
      displayName: "Terraform Init"
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Root/Dev'
        backendServiceArm: 'infraautomation'
        backendAzureRmStorageAccountName: 'storagegauravssris'
        backendAzureRmContainerName: 'gauravbackuptfstate'
        backendAzureRmKey: 'backup.tfstate'

- stage: Prod
  displayName: "Terraform Prod Stage"

  jobs:
  - job: TerraformInit
    displayName: "Terraform Init Job"
    steps:
    - task: TerraformTask@5
      displayName: "Terraform Init"
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Root/Prod'
        backendServiceArm: 'infraautomation'
        backendAzureRmStorageAccountName: 'storagegauravssris'
        backendAzureRmContainerName: 'gauravbackuptfstate'
        backendAzureRmKey: 'backup.tfstate'
- stage: QA
  displayName: "Terraform QA Stage"

  jobs:
  - job: TerraformInit
    displayName: "Terraform Init Job"
    steps:
    - task: TerraformTask@5
      displayName: "Terraform Init"
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Root/QA'
        backendServiceArm: 'infraautomation'
        backendAzureRmStorageAccountName: 'storagegauravssris'
        backendAzureRmContainerName: 'gauravbackuptfstate'
        backendAzureRmKey: 'backup.tfstate'        