

trigger:
- main

pool:
  vmImage: Automated

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/Root/Dev'
    backendServiceArm: 'infraautomation'
    backendAzureRmStorageAccountName: 'storagegauravssris'
    backendAzureRmContainerName: 'gauravbackuptfstate'
    backendAzureRmKey: 'backup.tfstate'
